In [1]:
import pandas as pd
import unidecode

In [2]:
df_2019 = pd.read_csv("http://dados.recife.pe.gov.br/dataset/44087d2d-73b5-4ab3-9bd8-78da7436eed1/resource/3531bafe-d47d-415e-b154-a881081ac76c/download/acidentes-2019.csv", delimiter=";")

In [3]:
bairros_recife = pd.read_csv("http://dados.recife.pe.gov.br/dataset/c1f100f0-f56f-4dd4-9dcc-1aa4da28798a/resource/698d8fe1-d30a-485f-8d5d-307d46163d0c/download/bairro.csv", delimiter=";")

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
bairros_recife.head()

                Bairro  rpa
0              Aflitos    3
1             Afogados    5
2            Agua Fria    2
3        Alto Do Mandu    3
4  Alto Jose Bonifacio    3

In [6]:
df_2019.head()

,DATA,hora,natureza_acidente,situacao,bairro,endereco,numero,detalhe_endereco_acidente,complemento,endereco_cruzamento,numero_cruzamento,referencia_cruzamento,bairro_cruzamento,num_semaforo,sentido_via,tipo,descricao,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas,vitimasfatais,acidente_verificado,tempo_clima,situacao_semaforo,sinalizacao,condicao_via,conservacao_via,ponto_controle,situacao_placa,velocidade_max_via,mao_direcao,divisao_via1,divisao_via2,divisao_via3
0,2019-01-01,00:41:00,SEM VÍTIMA,FINALIZADA,IPSEP,AV RECIFE,NaN,NaN,LADO OPOSTO AO Nº 3257,AV RECIFE,NaN,LADO OPOSTO AO Nº 3257,IPSEP,NaN,SUBURBIO,COLISÃO TRASEIRA,"ART.181, OBSTRUÇÃO DE ENTRADA E SAÍDA DE GARAG...",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Longo da via,Bom,Não existe,Perfeito estado,Seca,Perfeito estado,Não existe,Não há placas,60 km/h,Única,Faixa seccionada,NaN,NaN
1,2019-01-01,01:37:00,SEM VÍTIMA,FINALIZADA,BOA VIAGEM,RUA PADRE BERNADINO PESSOA,NaN,RUA MINISTRO NELSON HUNGRIA,NaN,RUA PADRE BERNADINO PESSOA,NaN,NaN,BOA VIAGEM,NaN,NaN,ABALROAMENTO TRANSVERSAL,COLISÃO ENTRE DOIS AUTOS S/V,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Cruzamento,Bom,Não existe,Perfeito estado,Seca,Perfeito estado,Faixa de pedestre,Não há placas,NaN,Única,Não existe,NaN,NaN
2,2019-01-01,14:20:00,SEM VÍTIMA,CANCELADA,BOA VIAGEM,AV ENGENHEIRO DOMINGOS FERREIRA,NaN,RUA DOM JOSE LOPES,"EM FRENTE A DELEGACIA DE BOA VIAGEM, LADO ESQU...",AV ENGENHEIRO DOMINGOS FERREIRA,NaN,"EM FRENTE A DELEGACIA DE BOA VIAGEM, LADO ESQU...",BOA VIAGEM,NaN,NaN,COLISÃO,COLISÃO ENTRE DOIS AUTOS S/V,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,02:53:00,SEM VÍTIMA,CANCELADA,IMBIRIBEIRA,AV GENERAL MAC ARTHUR,100,RUA JACY,EM FRENTE A ART LED ILUMINAÇÃO,AV GENERAL MAC ARTHUR,100,EM FRENTE A ART LED ILUMINAÇÃO,IMBIRIBEIRA,NaN,NaN,COLISÃO,COLISÃO ENTRE DOIS AUTOS S/V,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,08:17:00,COM VÍTIMA,FINALIZADA,JAQUEIRA,RUA TITO ROSAS,63,NaN,ED. JARDINS DA JAQUEIRA,RUA TITO ROSAS,63,ED. JARDINS DA JAQUEIRA,JAQUEIRA,NaN,SUBURBIO,COLISÃO COM CICLISTA,COLISÃO ENVOLVENDO ÔNIBUS E BICICLETA COM VÍTI...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,Longo da via,Bom,Não existe,Perfeito estado,Seca,Perfeito estado,Não existe,Não há placas,40 km/h,Única,Faixa seccionada,NaN,NaN

In [7]:
#pd.reset_option('display.max_columns')

In [8]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12062 entries, 0 to 12061
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATA                       12062 non-null  object
 1   hora                       12046 non-null  object
 2   natureza_acidente          12058 non-null  object
 3   situacao                   12058 non-null  object
 4   bairro                     11914 non-null  object
 5   endereco                   12009 non-null  object
 6   numero                     6013 non-null   object
 7   detalhe_endereco_acidente  4308 non-null   object
 8   complemento                9609 non-null   object
 9   endereco_cruzamento        12002 non-null  object
 10  numero_cruzamento          6011 non-null   object
 11  referencia_cruzamento      9606 non-null   object
 12  bairro_cruzamento          11909 non-null  object
 13  num_semaforo               3029 non-null   float64
 14  sentido_via                8293 non-null   object
 15  tipo                       12062 non-null  object
 16  descricao                  11762 non-null  object
 17  auto                       11140 non-null  float64
 18  moto                       2904 non-null   float64
 19  ciclom                     48 non-null     float64
 20  ciclista                   224 non-null    float64
 21  pedestre                   255 non-null    float64
 22  onibus                     1811 non-null   float64
 23  caminhao                   1224 non-null   float64
 24  viatura                    122 non-null    float64
 25  outros                     210 non-null    float64
 26  vitimas                    12035 non-null  float64
 27  vitimasfatais              25 non-null     float64
 28  acidente_verificado        9191 non-null   object
 29  tempo_clima                9706 non-null   object
 30  situacao_semaforo          9581 non-null   object
 31  sinalizacao                9524 non-null   object
 32  condicao_via               9673 non-null   object
 33  conservacao_via            9525 non-null   object
 34  ponto_controle             8670 non-null   object
 35  situacao_placa             8733 non-null   object
 36  velocidade_max_via         2858 non-null   object
 37  mao_direcao                9522 non-null   object
 38  divisao_via1               9130 non-null   object
 39  divisao_via2               908 non-null    object
 40  divisao_via3               150 non-null    object
dtypes: float64(12), object(29)
memory usage: 3.8+ MB

In [9]:
df_2019.duplicated().sum()

0

In [10]:
df_2019.isnull().sum()

DATA                             0
hora                            16
natureza_acidente                4
situacao                         4
bairro                         148
endereco                        53
numero                        6049
detalhe_endereco_acidente     7754
complemento                   2453
endereco_cruzamento             60
numero_cruzamento             6051
referencia_cruzamento         2456
bairro_cruzamento              153
num_semaforo                  9033
sentido_via                   3769
tipo                             0
descricao                      300
auto                           922
moto                          9158
ciclom                       12014
ciclista                     11838
pedestre                     11807
onibus                       10251
caminhao                     10838
viatura                      11940
outros                       11852
vitimas                         27
vitimasfatais                12037
acidente_verificado           2871
tempo_clima                   2356
situacao_semaforo             2481
sinalizacao                   2538
condicao_via                  2389
conservacao_via               2537
ponto_controle                3392
situacao_placa                3329
velocidade_max_via            9204
mao_direcao                   2540
divisao_via1                  2932
divisao_via2                 11154
divisao_via3                 11912
dtype: int64

In [11]:
colunas_selecionadas_2019 = [ "DATA", "hora", "natureza_acidente","situacao","bairro", "auto", "moto", "ciclom",	"ciclista",	"pedestre",	"onibus",	"caminhao",	"viatura",	"outros",	"vitimas", "tempo_clima","sinalizacao",	"condicao_via",	"conservacao_via","mao_direcao" ]

df_2019_spec = df_2019[colunas_selecionadas_2019]

In [12]:
df_2019_spec.head()

,DATA,hora,natureza_acidente,situacao,bairro,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas,tempo_clima,sinalizacao,condicao_via,conservacao_via,mao_direcao
0,2019-01-01,00:41:00,SEM VÍTIMA,FINALIZADA,IPSEP,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Bom,Perfeito estado,Seca,Perfeito estado,Única
1,2019-01-01,01:37:00,SEM VÍTIMA,FINALIZADA,BOA VIAGEM,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Bom,Perfeito estado,Seca,Perfeito estado,Única
2,2019-01-01,14:20:00,SEM VÍTIMA,CANCELADA,BOA VIAGEM,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,02:53:00,SEM VÍTIMA,CANCELADA,IMBIRIBEIRA,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,08:17:00,COM VÍTIMA,FINALIZADA,JAQUEIRA,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,Bom,Perfeito estado,Seca,Perfeito estado,Única

In [13]:
df_2019_spec.isnull().sum()

DATA                     0
hora                    16
natureza_acidente        4
situacao                 4
bairro                 148
auto                   922
moto                  9158
ciclom               12014
ciclista             11838
pedestre             11807
onibus               10251
caminhao             10838
viatura              11940
outros               11852
vitimas                 27
tempo_clima           2356
sinalizacao           2538
condicao_via          2389
conservacao_via       2537
mao_direcao           2540
dtype: int64

In [14]:
# Aplica uma função para verificar os tipos únicos em cada coluna
unique_types = df_2019_spec.applymap(type).nunique()


# Exibe as colunas com mais de um tipo único
mixed_type_columns = unique_types[unique_types >1].index
print(mixed_type_columns)

Index(['hora', 'natureza_acidente', 'situacao', 'bairro', 'tempo_clima',
       'sinalizacao', 'condicao_via', 'conservacao_via', 'mao_direcao'],
      dtype='object')

In [15]:
# Verificar os tipos de dados únicos na coluna 'auto'
unique_types_auto = df_2019_spec['vitimas'].apply(type).unique()
print(unique_types_auto)

[<class 'float'>]

In [16]:
# Filtrar e imprimir exemplos de valores do tipo string na coluna 'auto'
examples_str = df_2019_spec.loc[df_2019_spec['vitimas'].apply(lambda x: type(x) == str), 'vitimas'].unique()
print("Exemplos de valores do tipo string na coluna 'auto':", examples_str)

# Filtrar e imprimir exemplos de valores do tipo float na coluna 'auto'
examples_float = df_2019_spec.loc[df_2019_spec['vitimas'].apply(lambda x: type(x) == float), 'vitimas'].unique()
print("Exemplos de valores do tipo float na coluna 'auto':", examples_float)

Exemplos de valores do tipo string na coluna 'auto': []
Exemplos de valores do tipo float na coluna 'auto': [ 0.  1.  2.  4. nan  3.  5.  7.]

In [17]:

valores_nulos = {"hora": '00:00', "natureza_acidente":'OUTROS', "situacao":'OUTROS',"bairro":'OUTROS',"bairro_cruzamento":'OUTROS', "auto":'0', "moto":'0', "ciclom":'0', "ciclista":'0',	"pedestre":'0',"onibus":'0', "caminhao":'0', "viatura":'0',	"outros":'0', "vitimas":'0', "tempo_clima":'OUTROS',"sinalizacao":'OUTROS',	"condicao_via":'OUTROS',	"conservacao_via":'OUTROS',"mao_direcao":'OUTROS'  }

df_2019_spec = df_2019_spec.fillna(valores_nulos)

In [18]:
# tratamento de tipos de dados

df_2019_spec['DATA'] = pd.to_datetime(df_2019_spec['DATA'])

In [19]:
# convertendo colunas para str
str_columns = ['hora', 'natureza_acidente', 'situacao', 'bairro',  'tempo_clima', 'sinalizacao', 'condicao_via','conservacao_via', 'mao_direcao']
df_2019_spec['mao_direcao'] = df_2019_spec['mao_direcao'].astype(str).apply(lambda x:unidecode.unidecode(x))
df_2019_spec[str_columns] = df_2019_spec[str_columns].astype(str).apply(lambda x: x.str.upper())

In [20]:
# Convertendo colunas para inteiros
int_columns = ['auto', 'moto', 'ciclom', 'ciclista', 'pedestre', 'onibus', 'caminhao', 'viatura', 'outros', 'vitimas']
df_2019_spec[int_columns] = df_2019_spec[int_columns].fillna(0).astype(int)

In [21]:
tipo = df_2019_spec.dtypes
print(tipo)

DATA                 datetime64[ns]
hora                         object
natureza_acidente            object
situacao                     object
bairro                       object
auto                          int32
moto                          int32
ciclom                        int32
ciclista                      int32
pedestre                      int32
onibus                        int32
caminhao                      int32
viatura                       int32
outros                        int32
vitimas                       int32
tempo_clima                  object
sinalizacao                  object
condicao_via                 object
conservacao_via              object
mao_direcao                  object
dtype: object

In [22]:
tipo = df_2019_spec.dtypes
print(tipo)

DATA                 datetime64[ns]
hora                         object
natureza_acidente            object
situacao                     object
bairro                       object
auto                          int32
moto                          int32
ciclom                        int32
ciclista                      int32
pedestre                      int32
onibus                        int32
caminhao                      int32
viatura                       int32
outros                        int32
vitimas                       int32
tempo_clima                  object
sinalizacao                  object
condicao_via                 object
conservacao_via              object
mao_direcao                  object
dtype: object

In [23]:
# Aplica uma função para verificar os tipos únicos em cada coluna
unique_types = df_2019_spec.applymap(type).nunique()


# Exibe as colunas com mais de um tipo único
mixed_type_columns = unique_types[unique_types >1].index
print(mixed_type_columns)

Index([], dtype='object')

In [24]:
# Verifica os tipos únicos na coluna 'DATA'
unique_data_types = df_2019_spec['conservacao_via'].apply(type).nunique()

# Exibe os tipos únicos encontrados
print(unique_data_types)

1

In [25]:
df_2019_spec.head()

,DATA,hora,natureza_acidente,situacao,bairro,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas,tempo_clima,sinalizacao,condicao_via,conservacao_via,mao_direcao
0,2019-01-01,00:41:00,SEM VÍTIMA,FINALIZADA,IPSEP,2,0,0,0,0,0,0,0,0,0,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA
1,2019-01-01,01:37:00,SEM VÍTIMA,FINALIZADA,BOA VIAGEM,2,0,0,0,0,0,0,0,0,0,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA
2,2019-01-01,14:20:00,SEM VÍTIMA,CANCELADA,BOA VIAGEM,2,0,0,0,0,0,0,0,0,0,OUTROS,OUTROS,OUTROS,OUTROS,OUTROS
3,2019-01-01,02:53:00,SEM VÍTIMA,CANCELADA,IMBIRIBEIRA,2,0,0,0,0,0,0,0,0,0,OUTROS,OUTROS,OUTROS,OUTROS,OUTROS
4,2019-01-01,08:17:00,COM VÍTIMA,FINALIZADA,JAQUEIRA,0,0,0,1,0,1,0,0,0,1,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA

#### copia de 2019 aqui

In [26]:
# Criar uma cópia da base de dados original
df_2019_staging = df_2019_spec.copy()

# Agora, você pode realizar modificações na base de dados df_staging sem afetar df_2019_spec
# ...

# Se necessário, você sempre pode voltar à base de dados original
# df_2019_spec = df_staging.copy()

#### exploração da base dados recife

In [27]:
bairros_recife = pd.read_csv("http://dados.recife.pe.gov.br/dataset/c1f100f0-f56f-4dd4-9dcc-1aa4da28798a/resource/698d8fe1-d30a-485f-8d5d-307d46163d0c/download/bairro.csv", delimiter=";")

In [28]:
# permitir que todas as colunas dessa base sejam visualizadas
pd.set_option('display.max_columns', None)

pd.set_option('display.max_columns', None)

In [29]:
bairros_recife.head()

                Bairro  rpa
0              Aflitos    3
1             Afogados    5
2            Agua Fria    2
3        Alto Do Mandu    3
4  Alto Jose Bonifacio    3

In [30]:
bairros_recife.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bairro  94 non-null     object
 1   rpa     94 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.6+ KB

In [31]:
unique_types = bairros_recife.applymap(type).nunique()

mixed_type_columns = unique_types[unique_types>1].index
print(mixed_type_columns)

Index([], dtype='object')

In [32]:
bairros_recife.isnull().sum()

Bairro    0
rpa       0
dtype: int64

In [33]:
#transformação do campo de bairro em bairros-recife

bairros_recife['Bairro'] = bairros_recife['Bairro'].astype(str).apply(lambda x: unidecode.unidecode(x).upper())

In [34]:
bairros_recife.head()

                Bairro  rpa
0              AFLITOS    3
1             AFOGADOS    5
2            AGUA FRIA    2
3        ALTO DO MANDU    3
4  ALTO JOSE BONIFACIO    3

In [38]:
#mudanca no titulo das colunas mas maiuscula. prieiro em bairros_recife deois da stagin de  2019
bairros_recife = bairros_recife.applymap(lambda x: str(x).upper())
print(bairros_recife['Bairro'].unique())

['AFLITOS' 'AFOGADOS' 'AGUA FRIA' 'ALTO DO MANDU' 'ALTO JOSE BONIFACIO'
 'ALTO JOSE DO PINHO' 'ALTO SANTA TEREZINHA' 'APIPUCOS' 'AREIAS' 'ARRUDA'
 'BARRO' 'BEBERIBE' 'BOA VIAGEM' 'BOA VISTA' 'BOMBA DO HEMETERIO' 'BONGI'
 'BRASILIA TEIMOSA' 'BREJO DA GUABIRABA' 'BREJO DE BEBERIBE' 'CABANGA'
 'CACOTE' 'CAJUEIRO' 'CAMPINA DO BARRETO' 'CAMPO GRANDE' 'CASA AMARELA'
 'CASA FORTE' 'CAXANGA' 'CIDADE UNIVERSITARIA' 'COELHOS' 'COHAB'
 'COQUEIRAL' 'CORDEIRO' 'CORREGO DO JENIPAPO' 'CURADO' 'DERBY'
 'DOIS IRMAOS' 'DOIS UNIDOS' 'ENCRUZILHADA' 'ENGENHO DO MEIO' 'ESPINHEIRO'
 'ESTANCIA' 'FUNDAO' 'GRACAS' 'GUABIRABA' 'HIPODROMO' 'IBURA'
 'ILHA DO LEITE' 'ILHA DO RETIRO' 'ILHA JOANA BEZERRA' 'IMBIRIBEIRA'
 'IPSEP' 'IPUTINGA' 'JAQUEIRA' 'JARDIM SAO PAULO' 'JIQUIA' 'JORDAO'
 'LINHA DO TIRO' 'MACAXEIRA' 'MADALENA' 'MANGABEIRA' 'MANGUEIRA'
 'MONTEIRO' 'MORRO DA CONCEICAO' 'MUSTARDINHA' 'NOVA DESCOBERTA'
 'PAISSANDU' 'PARNAMIRIM' 'PASSARINHO' 'PAU FERRO' 'PEIXINHOS' 'PINA'
 'POCO' 'PONTO DE PARADA' 'PORTO DA MADEIRA' 'PRADO' 'RECIFE' 'ROSARINHO'
 'SAN MARTIN' 'SANCHO' 'SANTANA' 'SANTO AMARO' 'SANTO ANTONIO' 'SAO JOSE'
 'SITIO DOS PINTOS' 'SOLEDADE' 'TAMARINEIRA' 'TEJIPIO' 'TORRE' 'TORREAO'
 'TORROES' 'TOTO' 'VARZEA' 'VASCO DA GAMA' 'ZUMBI']

In [41]:
bairros_recife.columns = bairros_recife.columns.str.upper()
df_2019_staging.columns = df_2019_staging.columns.str.upper()

In [40]:
bairros_recife.head()

                BAIRRO RPA
0              AFLITOS   3
1             AFOGADOS   5
2            AGUA FRIA   2
3        ALTO DO MANDU   3
4  ALTO JOSE BONIFACIO   3

In [42]:
df_2019_staging.head()

,DATA,HORA,NATUREZA_ACIDENTE,SITUACAO,BAIRRO,AUTO,MOTO,CICLOM,CICLISTA,PEDESTRE,ONIBUS,CAMINHAO,VIATURA,OUTROS,VITIMAS,TEMPO_CLIMA,SINALIZACAO,CONDICAO_VIA,CONSERVACAO_VIA,MAO_DIRECAO
0,2019-01-01,00:41:00,SEM VÍTIMA,FINALIZADA,IPSEP,2,0,0,0,0,0,0,0,0,0,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA
1,2019-01-01,01:37:00,SEM VÍTIMA,FINALIZADA,BOA VIAGEM,2,0,0,0,0,0,0,0,0,0,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA
2,2019-01-01,14:20:00,SEM VÍTIMA,CANCELADA,BOA VIAGEM,2,0,0,0,0,0,0,0,0,0,OUTROS,OUTROS,OUTROS,OUTROS,OUTROS
3,2019-01-01,02:53:00,SEM VÍTIMA,CANCELADA,IMBIRIBEIRA,2,0,0,0,0,0,0,0,0,0,OUTROS,OUTROS,OUTROS,OUTROS,OUTROS
4,2019-01-01,08:17:00,COM VÍTIMA,FINALIZADA,JAQUEIRA,0,0,0,1,0,1,0,0,0,1,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA

In [37]:
bairros_recife.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bairro  94 non-null     object
 1   rpa     94 non-null     object
dtypes: object(2)
memory usage: 1.6+ KB

#### enriquecimendo da stagin com dados de bairros recife

In [46]:
# Supondo que as colunas em comum entre os DataFrames se chamam 'Bairro'
df_2019_staging = pd.merge(df_2019_staging, bairros_recife[['BAIRRO', 'RPA']], on='BAIRRO', how='left')

In [47]:
df_2019_staging.head()

,DATA,HORA,NATUREZA_ACIDENTE,SITUACAO,BAIRRO,AUTO,MOTO,CICLOM,CICLISTA,PEDESTRE,ONIBUS,CAMINHAO,VIATURA,OUTROS,VITIMAS,TEMPO_CLIMA,SINALIZACAO,CONDICAO_VIA,CONSERVACAO_VIA,MAO_DIRECAO,RPA
0,2019-01-01,00:41:00,SEM VÍTIMA,FINALIZADA,IPSEP,2,0,0,0,0,0,0,0,0,0,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA,6
1,2019-01-01,01:37:00,SEM VÍTIMA,FINALIZADA,BOA VIAGEM,2,0,0,0,0,0,0,0,0,0,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA,6
2,2019-01-01,14:20:00,SEM VÍTIMA,CANCELADA,BOA VIAGEM,2,0,0,0,0,0,0,0,0,0,OUTROS,OUTROS,OUTROS,OUTROS,OUTROS,6
3,2019-01-01,02:53:00,SEM VÍTIMA,CANCELADA,IMBIRIBEIRA,2,0,0,0,0,0,0,0,0,0,OUTROS,OUTROS,OUTROS,OUTROS,OUTROS,6
4,2019-01-01,08:17:00,COM VÍTIMA,FINALIZADA,JAQUEIRA,0,0,0,1,0,1,0,0,0,1,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA,3

In [ ]:
# Supondo que você deseja remover a coluna 'REGIAO'
df_2019_stagin = df_2019_staging.drop(columns=['REGIAO'])
# Remover a coluna 'REGIAO' diretamente no DataFrame existente
df_2019_stagin.drop(columns=['REGIAO'], inplace=True)

In [51]:
df_2019_staging.head()

,DATA,HORA,NATUREZA_ACIDENTE,SITUACAO,BAIRRO,AUTO,MOTO,CICLOM,CICLISTA,PEDESTRE,ONIBUS,CAMINHAO,VIATURA,OUTROS,VITIMAS,TEMPO_CLIMA,SINALIZACAO,CONDICAO_VIA,CONSERVACAO_VIA,MAO_DIRECAO,RPA,REGIAO
0,2019-01-01,00:41:00,SEM VÍTIMA,FINALIZADA,IPSEP,2,0,0,0,0,0,0,0,0,0,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA,6,NaN
1,2019-01-01,01:37:00,SEM VÍTIMA,FINALIZADA,BOA VIAGEM,2,0,0,0,0,0,0,0,0,0,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA,6,NaN
2,2019-01-01,14:20:00,SEM VÍTIMA,CANCELADA,BOA VIAGEM,2,0,0,0,0,0,0,0,0,0,OUTROS,OUTROS,OUTROS,OUTROS,OUTROS,6,NaN
3,2019-01-01,02:53:00,SEM VÍTIMA,CANCELADA,IMBIRIBEIRA,2,0,0,0,0,0,0,0,0,0,OUTROS,OUTROS,OUTROS,OUTROS,OUTROS,6,NaN
4,2019-01-01,08:17:00,COM VÍTIMA,FINALIZADA,JAQUEIRA,0,0,0,1,0,1,0,0,0,1,BOM,PERFEITO ESTADO,SECA,PERFEITO ESTADO,UNICA,3,NaN

### adicao do de/para de rpa e regiao

In [55]:
depara_regiao = pd.read_csv("rpa_regiao_mapping.csv", delimiter=",")

In [56]:
depara_regiao.head()

   RPA    REGIAO
0    1    CENTRO
1    2     NORTE
2    3  NOROESTE
3    4     OESTE
4    5  SUDOESTE