In [1]:
# Importaçoes
import pandas as pd 
import numpy as np 
import unidecode 
import os
import csv

In [2]:
#Bases de acidentes de transito
df_2019 = pd.read_csv("http://dados.recife.pe.gov.br/dataset/44087d2d-73b5-4ab3-9bd8-78da7436eed1/resource/3531bafe-d47d-415e-b154-a881081ac76c/download/acidentes-2019.csv", delimiter=";")
df_2020 = pd.read_csv("http://dados.recife.pe.gov.br/dataset/44087d2d-73b5-4ab3-9bd8-78da7436eed1/resource/fc1c8460-0406-4fff-b51a-e79205d1f1ab/download/acidentes_2020-novo.csv", delimiter=";")
df_2021 = pd.read_csv("http://dados.recife.pe.gov.br/dataset/44087d2d-73b5-4ab3-9bd8-78da7436eed1/resource/2caa8f41-ccd9-4ea5-906d-f66017d6e107/download/acidentes2021.csv", delimiter=";")
df_2022 = pd.read_csv("http://dados.recife.pe.gov.br/dataset/44087d2d-73b5-4ab3-9bd8-78da7436eed1/resource/971e0228-fa9c-4a42-b360-c842b29d2f56/download/acidentes2022.csv", delimiter=";")

#Base com codigos dos bairros do Recife
bairros_recife = pd.read_csv("http://dados.recife.pe.gov.br/dataset/c1f100f0-f56f-4dd4-9dcc-1aa4da28798a/resource/698d8fe1-d30a-485f-8d5d-307d46163d0c/download/bairro.csv", delimiter=";")

# Base de relação dos codigos RPA e regiao dos bairros do recife
regiao = pd.read_csv("rpa_regiao_mapping.csv", delimiter=",")

In [3]:
# TRATAMENTOS 2019

# Colunas selecionadas para o estudo na base de 2019
colunas_selecionadas_2019 = [ "DATA", "hora", "natureza_acidente","situacao","bairro", "auto", "moto", "ciclom",	"ciclista",	"pedestre",	"onibus",	"caminhao",	"viatura",	"outros",	"vitimas", "tempo_clima","sinalizacao",	"condicao_via",	"conservacao_via","mao_direcao" ]

df_2019_sot = df_2019[colunas_selecionadas_2019]

#Tratamento para valores nulos 
valores_nulos_2019 = {"hora": '00:00', "natureza_acidente":'OUTROS', "situacao":'OUTROS',"bairro":'OUTROS', "auto":'0', "moto":'0', "ciclom":'0', "ciclista":'0',	"pedestre":'0',"onibus":'0', "caminhao":'0', "viatura":'0',	"outros":'0', "vitimas":'0', "tempo_clima":'OUTROS',"sinalizacao":'OUTROS',	"condicao_via":'OUTROS',	"conservacao_via":'OUTROS',"mao_direcao":'OUTROS'  }

df_2019_sot = df_2019_sot.fillna(valores_nulos_2019)

# Convertendo colunas para inteiros
int_columns_2019 = ['auto', 'moto', 'ciclom', 'ciclista', 'pedestre', 'onibus', 'caminhao', 'viatura', 'outros', 'vitimas']
df_2019_sot[int_columns_2019] = df_2019_sot[int_columns_2019].fillna(0).astype(int)

# tratamento de mudar o tipo de dado do campo DATA
df_2019_sot['DATA'] = pd.to_datetime(df_2019_sot['DATA'])

#Deixando todas as colunas em maiusculo
df_2019_sot.columns = df_2019_sot.columns.str.upper()

In [4]:
# TRATAMENTOS 2020

# Colunas selecionadas para o estudo na base de 2020
colunas_selecionadas_2020 = ['data', 'hora', 'natureza_acidente', 'situacao', 'bairro', 'tipo', 'auto', 'moto', 'ciclom', 'ciclista', 'pedestre', 'onibus', 'caminhao', 'viatura', 'outros', 'vitimas', 'acidente_verificado', 'tempo_clima', 'sinalizacao', 'condicao_via', 'conservacao_via', 'mao_direcao']

df_2020_sot = df_2020[colunas_selecionadas_2020]

#Tratamento para valores nulos 
valores_nulos = { "natureza_acidente":'OUTROS', "situacao":'OUTROS',"bairro":'OUTROS', "auto":'0', "moto":'0', "ciclom":'0', "ciclista":'0',	"pedestre":'0',"onibus":'0', "caminhao":'0', "viatura":'0',	"outros":'0', "vitimas":'0', "tempo_clima":'OUTROS',"sinalizacao":'OUTROS',	"condicao_via":'OUTROS', "acidente_verificado":'Outros'	,"conservacao_via":'OUTROS',"mao_direcao":'OUTROS'}
df_2020_sot = df_2020_sot.fillna(valores_nulos)

# Convertendo colunas para inteiros
int_columns = ['auto', 'moto', 'ciclom', 'ciclista', 'pedestre', 'onibus', 'caminhao', 'viatura', 'outros', 'vitimas']
df_2020_sot[int_columns] = df_2020_sot[int_columns].fillna(0).astype(int)

# Convertendo colunas para string
str_columns = ['hora', 'natureza_acidente', 'situacao', 'bairro', 'tipo', 'tempo_clima', 'condicao_via', 'conservacao_via', 'mao_direcao']
df_2020_sot[str_columns] = df_2020_sot[str_columns].astype(str).apply(lambda x: x.str.upper())

# tratamento de mudar o tipo de dado do campo DATA
df_2020_sot['data'] = pd.to_datetime(df_2020_sot['data'])

#Deixando todas as colunas em maiusculo
df_2020_sot.columns = df_2020_sot.columns.str.upper()

In [5]:
# TRATAMENTOS 2021

# Colunas selecionadas para o estudo na base de 2021
colunas_selecionadas_2021 = ['data', 'hora', 'natureza_acidente', 'situacao', 'bairro', 'tipo', 'auto', 'moto', 'ciclom', 'ciclista', 'pedestre', 'onibus', 'caminhao', 'viatura', 'outros', 'vitimas', 'acidente_verificado', 'tempo_clima', 'sinalizacao', 'condicao_via', 'conservacao_via', 'mao_direcao']

df_2021_sot = df_2021[colunas_selecionadas_2021]

#Tratamento para valores nulos 
valores_nulos_2021 = {"bairro":'OUTROS', "tipo":'OUTROS',"acidente_verificado":'Outros',	"tempo_clima":'OUTROS',"sinalizacao":'OUTROS',	"condicao_via":'Outros',"conservacao_via":'OUTROS',"mao_direcao":'OUTROS'}

df_2021_sot = df_2021_sot.fillna(valores_nulos_2021)

# Convertendo colunas para inteiros
int_columns_2021 = ['auto', 'moto', 'ciclom', 'ciclista', 'pedestre', 'onibus', 'caminhao', 'viatura', 'outros', 'vitimas']
df_2021_sot[int_columns_2021] = df_2021_sot[int_columns_2021].fillna(0).astype(int)

# Convertendo colunas para string
str_columns_2021 = ['hora', 'natureza_acidente', 'situacao', 'bairro', 'tipo', 'tempo_clima', 'condicao_via', 'conservacao_via', 'mao_direcao']
df_2021_sot[str_columns_2021] = df_2021_sot[str_columns_2021].astype(str).apply(lambda x: x.str.upper())

# tratamento de mudar o tipo de dado do campo DATA
df_2021_sot['data'] = pd.to_datetime(df_2021_sot['data'])

#Deixando todas as colunas em maiusculo
df_2021_sot.columns = df_2021_sot.columns.str.upper()

In [6]:
# tratamento 2022

# Colunas selecionadas para o estudo na base de 2022
colunas_selecionadas_2022 = ['data', 'hora', 'natureza', 'situacao', 'bairro', 'tipo', 'auto', 'moto', 'ciclom', 'ciclista', 'pedestre', 'onibus', 'caminhao', 'viatura', 'outros', 'vitimas', 'acidente_verificado', 'tempo_clima', 'sinalizacao', 'condicao_via', 'conservacao_via', 'mao_direcao']
df_2022_sot = df_2022[colunas_selecionadas_2022]

#Tratamento para valores nulos 
valores_nulos_2022 = {"bairro":'OUTROS', "tipo":'OUTROS', "tempo_clima":'OUTROS', "sinalizacao":'OUTROS', "condicao_via":'Outros',"conservacao_via":'OUTROS',"mao_direcao":'OUTROS', "acidente_verificado":'Outros'}

df_2022_sot = df_2022_sot.fillna(valores_nulos_2022)

# Convertendo colunas para inteiros
    # Lista de colunas que você deseja converter para inteiros
int_columns_2022 = ['auto', 'moto', 'ciclom', 'ciclista', 'pedestre', 'onibus', 'caminhao', 'viatura', 'outros', 'vitimas']

    # Substituir vírgulas por pontos e converter para float
df_2022_sot[int_columns_2022] = df_2022_sot[int_columns_2022].replace(',', '.', regex=True).astype(float)

    # Converter para inteiros
df_2022_sot[int_columns_2022] = df_2022_sot[int_columns_2022].fillna(0).astype(int)

# Convertendo colunas para string
str_columns_2022 = ['hora', 'natureza', 'situacao', 'bairro', 'tipo', 'tempo_clima', 'condicao_via', 'conservacao_via', 'mao_direcao']

df_2022_sot[str_columns_2022] = df_2022_sot[str_columns_2022].astype(str).apply(lambda x: x.str.upper())

# tratamento de mudar o tipo de dado do campo DATA
df_2022_sot['data'] = pd.to_datetime(df_2022_sot['data'])

#Mudança do nome do campo natureza para natureza_acidente
df_2022_sot = df_2022_sot.rename(columns={'natureza': 'natureza_acidente'})

#no campo acidente_verificado onde tiver nao informado transformar para outros
df_2022_sot['acidente_verificado'] = df_2022_sot['acidente_verificado'].replace('Não informado', 'OUTROS')

#Deixando todas as colunas em maiusculo
df_2022_sot.columns = df_2022_sot.columns.str.upper()

In [7]:
# TRATAMENTO BAIRROS-RECIFE

#transformação do campo de bairro em string, sem acentos e maiuculo
bairros_recife['Bairro'] = bairros_recife['Bairro'].astype(str).apply(lambda x: unidecode.unidecode(x).upper())

#Deixando todas as colunas em maiusculo
bairros_recife.columns = bairros_recife.columns.str.upper()

### Concatenação de todas as bases

In [8]:
# Crie uma lista com os DataFrames
dfs = [df_2019_sot, df_2020_sot, df_2021_sot, df_2022_sot]

# Use a função concat para empilhar verticalmente os DataFrames
df_total = pd.concat(dfs, ignore_index=True)

In [9]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21203 entries, 0 to 21202
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATA                 21203 non-null  datetime64[ns]
 1   HORA                 21203 non-null  object
 2   NATUREZA_ACIDENTE    21203 non-null  object
 3   SITUACAO             21203 non-null  object
 4   BAIRRO               21203 non-null  object
 5   AUTO                 21203 non-null  int32
 6   MOTO                 21203 non-null  int32
 7   CICLOM               21203 non-null  int32
 8   CICLISTA             21203 non-null  int32
 9   PEDESTRE             21203 non-null  int32
 10  ONIBUS               21203 non-null  int32
 11  CAMINHAO             21203 non-null  int32
 12  VIATURA              21203 non-null  int32
 13  OUTROS               21203 non-null  int32
 14  VITIMAS              21203 non-null  int32
 15  TEMPO_CLIMA          21203 non-null  object
 16  SINALIZACAO          21203 non-null  object
 17  CONDICAO_VIA         21203 non-null  object
 18  CONSERVACAO_VIA      21203 non-null  object
 19  MAO_DIRECAO          21203 non-null  object
 20  TIPO                 9141 non-null   object
 21  ACIDENTE_VERIFICADO  9141 non-null   object
dtypes: datetime64[ns](1), int32(10), object(11)
memory usage: 2.8+ MB

### PRIMEIRO MERGE (DF-TOTAL + BAIRROS-RECIFE)

In [10]:
# Unir os DataFrames com base no campo "BAIRROS" e "BAIRRO"
df_unido = pd.merge(df_total, bairros_recife, how='left', left_on='BAIRRO', right_on='BAIRRO')

In [11]:
# Convertendo colunas para inteiros
int_columns_unido = ['RPA']
df_unido[int_columns_unido] = df_unido[int_columns_unido].fillna(0).astype(int)

In [12]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21203 entries, 0 to 21202
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATA                 21203 non-null  datetime64[ns]
 1   HORA                 21203 non-null  object
 2   NATUREZA_ACIDENTE    21203 non-null  object
 3   SITUACAO             21203 non-null  object
 4   BAIRRO               21203 non-null  object
 5   AUTO                 21203 non-null  int32
 6   MOTO                 21203 non-null  int32
 7   CICLOM               21203 non-null  int32
 8   CICLISTA             21203 non-null  int32
 9   PEDESTRE             21203 non-null  int32
 10  ONIBUS               21203 non-null  int32
 11  CAMINHAO             21203 non-null  int32
 12  VIATURA              21203 non-null  int32
 13  OUTROS               21203 non-null  int32
 14  VITIMAS              21203 non-null  int32
 15  TEMPO_CLIMA          21203 non-null  object
 16  SINALIZACAO          21203 non-null  object
 17  CONDICAO_VIA         21203 non-null  object
 18  CONSERVACAO_VIA      21203 non-null  object
 19  MAO_DIRECAO          21203 non-null  object
 20  TIPO                 9141 non-null   object
 21  ACIDENTE_VERIFICADO  9141 non-null   object
 22  RPA                  21203 non-null  int32
dtypes: datetime64[ns](1), int32(11), object(11)
memory usage: 3.0+ MB

### MERGE DF-TOTAL + REGIOES

In [13]:
regiao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RPA     6 non-null      int64
 1   REGIAO  6 non-null      object
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [14]:
# Unir os DataFrames com base no campo "RPA"
df_final = pd.merge(df_unido, regiao, how='left', left_on='RPA', right_on='RPA')

In [15]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21203 entries, 0 to 21202
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATA                 21203 non-null  datetime64[ns]
 1   HORA                 21203 non-null  object
 2   NATUREZA_ACIDENTE    21203 non-null  object
 3   SITUACAO             21203 non-null  object
 4   BAIRRO               21203 non-null  object
 5   AUTO                 21203 non-null  int32
 6   MOTO                 21203 non-null  int32
 7   CICLOM               21203 non-null  int32
 8   CICLISTA             21203 non-null  int32
 9   PEDESTRE             21203 non-null  int32
 10  ONIBUS               21203 non-null  int32
 11  CAMINHAO             21203 non-null  int32
 12  VIATURA              21203 non-null  int32
 13  OUTROS               21203 non-null  int32
 14  VITIMAS              21203 non-null  int32
 15  TEMPO_CLIMA          21203 non-null  object
 16  SINALIZACAO          21203 non-null  object
 17  CONDICAO_VIA         21203 non-null  object
 18  CONSERVACAO_VIA      21203 non-null  object
 19  MAO_DIRECAO          21203 non-null  object
 20  TIPO                 9141 non-null   object
 21  ACIDENTE_VERIFICADO  9141 non-null   object
 22  RPA                  21203 non-null  int32
 23  REGIAO               16978 non-null  object
dtypes: datetime64[ns](1), int32(11), object(12)
memory usage: 3.2+ MB

In [16]:


# Caminho do arquivo onde deseja salvar o DataFrame em formato CSV
caminho_do_arquivo_csv = "./spec_acidentes_transito_recife.csv"

# o diretório do caminho do arquivo
diretorio = os.path.dirname(caminho_do_arquivo_csv)

# Verifique se o diretório existe, se não, crie
if not os.path.exists(diretorio):
    os.makedirs(diretorio)

# Salve o DataFrame em um arquivo CSV
df_final.to_csv(caminho_do_arquivo_csv, index=False, quotechar='"', quoting=csv.QUOTE_ALL)